# dependencies
**/node_modules



#package.json
src/models/basicConfig.js
# production
/dist
dist.zip
/.vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log
functions/*
.temp/**

# env
.env.local
.env.*.local

# screenshot
screenshot
.firebase
.eslintcache

build

*.map
*.css

*.zip
